# Data Science Tools and Ecosystem

## Author
Antoine B.

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List commonly used libraries for Data Scientists
* Create a single row table of open source Data Science tools
* Provide a few examples of evaluating arithmetic expressions in Python
* Go back and provide a list of objectives at the beginning

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools |
|--- |
|Jupyter |
|RStudio |
|Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers (no need for parentheses)
3*4+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335